#header{
	color: $cor-padrao;
	display: flex;
	justify-content: space-around;
	height: 150px;
	align-items: center;
	h1{
		text-align: center;
		width: 100%;
	}
	i{
		color: $cor-padrao;
		font-size: 30px;
		padding:8px;
		@media (min-width: $break-medio){
			display: none;
		}
	}
}