#main{
	color: #000;
	height: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#layout{
	padding-left: 250px;
	@media(max-width: $break-medio){
		padding-left: 0;
	}
}
.overflow{
	position: relative;
	overflow: hidden;
}