#main.interna{
	height: 100%;
}
.professores{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.professor{
	display: flex;
	flex-direction: column;
	min-height: 400px;
	width: 230px;
	box-shadow: 0 0 10px #000;
	padding: 10px;
	margin: 13px;
	margin-top: 0;
	// &:nth-child(4n + 0){
	// 	margin-right: 0;
	// }
	// &:nth-child(4n+1){
	// 	margin-left: 0;
	// }
	p{
		padding-top: 10px;
		text-align: justify;
	}
	a{
		background-color: $cor-padrao;
		padding: 10px;
		margin-top: auto;
		position: relative;
	}
	figure{
		padding-bottom: 10px;
		padding-top: 0;
		border-bottom: 1px solid #000;
		img{
			width: 120px;
			@include arredonda(50%);
		}
	}
	@media(max-width: $break-medio){
		margin-top: 20px;
	}
	@media(max-width: 575px){
		width: 100%;
	}
}